body{
	background-color: #fff;
	font-family: 'Raleway', sans-serif;;
	font-size: 15px !important;
}
a{
	cursor: pointer;
	text-decoration: none !important;
}
ul{
	list-style: none;
}
.text-center{
	text-align: center;
}
.bold{
	font-weight: bold;
}
.nMT{
	margin-top: 0;
}
.mT20{
		margin-top: 20px;
	}
.text-upper{
	text-transform: uppercase;
}
/*====================== css header ===============*/
.dropdown-2, .dropdown-3{
	position: relative;
}
.dropdown-2>a::after, .dropdown-3>a::after{
	content: "";
	float: right;
    margin-top: 6px;
    margin-right: -10px;
    border-left: 4px dashed;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.dropdown-menu-2, .dropdown-menu-3{
	top: 0;
    left: 100%;
    margin-top: -6px;
    border-top-left-radius: 0;
}
.dropdown-menu-2>li>a, .dropdown-menu-3>li>a{
	display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu-2>li>a:hover, .dropdown-menu-3>li>a:hover{
	background-color: #e8e8e8;
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}
.dropdown-menu-2-open{
	position: absolute;
    top: 0;
    left: 100%;
    margin-top: -6px;
    border-top-left-radius: 0;
    z-index: 1000;
    
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 0px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.img-user{
	border-radius: 50%;
	float: left;
	margin-right: 5px;
	margin-top: -3px;
	width: 30px;
} 
.user-email{
	
}
/*======================css home page==============*/
#tin-tuc-moi{
	h3{
		border-bottom: 1px solid #ccc;
	}
}
 /*=====================css register page==========*/
 .signup h2{
 	text-transform: uppercase;
 }
 .form-control-feedback{
 	line-height: 34px !important;
 }
 .btn-signup{
 	background-color: #7DC577;
 	border-color: #7DC577;
 	color: #fff;
 }
 .btn-signup:hover{
 	background-color: #fff;
 	border-color: #7DC577;
 	color: #7DC577;
 }

 /*=====================css login page=============*/
 .login-page{
 	padding-top: 30px;
 	text-align: center;
 	.button-gg{
 		padding-top: 30px;
 		button{
 			width: auto !important;
 		}
 	}
 }

 /*===================== css dang ky luu tru ======*/
.luu-tru{
	h2{
		font-weight: 700;
		margin-bottom: 50px;
		text-align: center;
		text-transform: uppercase;
	}
}
/*======================css info page==============*/
.info-page{
	.head4{
		border-bottom: 1px solid #ccc;
		font-weight: 700;
		padding-bottom: 2px;
		text-transform: uppercase;
		.normal-text{
			font-size: 14px;
			font-weight: normal;
			text-transform: none;

		}
	}
	
}

/*======================css footer=================*/
#footer{
	background: #fff;
	color: #7DC577;
	font-weight: 700;
	text-align: center;
	p>span{
		padding-left: 4px;
	}
}