body{
	background-color: #fff;
}
/*======================css footer=================*/
#footer{
	background: #fff;
	border-top: 1px solid #EEEEEE;
	color: #7DC577;
	font-size: 18px;
	font-weight: 700;
	padding: 4% 0;
	text-align: center;
	p>span{
		padding-left: 4px;
	}
}